.navbar-container {
  position: relative;
  width: 100%;
}

.navbar {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  background-color: lightgrey;
  width: 100%;
  z-index: 1000;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar li {
  display: inline-block;
}

.navbar a {
  text-decoration: none;
  font-size: larger;
  color: black;
  font-family: "Courier New", Courier, monospace;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 400px;
}

.authenticate-form {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 20px;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  padding: 20px;
  background-color: aliceblue;
  border-radius: 10px;
}
.authenticate-form input {
  padding: 8px;
  border: 1px solid blue;
  border-radius: 5px;
}

.authenticate-form button {
  width: 100px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid royalblue;
  background-color: white;
  border-radius: 5px;
}

.authenticate-form h2 {
  font-size: large;
}

.register-form input {
  padding: 8px;
  border: 1px solid blue;
  border-radius: 5px;
}

.register-form button {
  width: 100px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid royalblue;
  background-color: white;
  border-radius: 5px;
}

.register-form h2 {
  font-size: large;
}

.register-form select {
  padding: 5px;
  border-radius: 10px;
  background-color: white;
}
.register-form label {
  font-size: small;
}

.task-container {
  width: 500px;
  padding: 20px;
  margin: 50px auto;
}
.task-container form {
  display: flex;
  flex-direction: column;
}

.task-container input,
select {
  width: 50%;
  margin: 10px 0;
}

.data-task {
  display: flex;
  flex-direction: column;
}
body {
  margin-top: 60px;
  overflow-x: hidden;
}

.task-container input {
  padding: 20px;
  border: 1px solid thistle;
  border-radius: 3px;
  font-size: medium;
}
.button-Submit {
  padding: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: azure;
  width: 30%;
  border: 1px solid beige;
  border-radius: 5px;
  font-size: medium;
}

.filter {
  margin-top: 10px;
  font-size: medium;
  padding: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: azure;
  width: 30%;
  border: 1px solid beige;
  border-radius: 5px;
}

.task-form select {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid thistle;
}
.task-form label {
  font-size: medium;
  background-color: aliceblue;
  width: 38%;
}
.data-task {
  font-size: medium;
  background-color: azure;
  margin-top: 30px;
  border: 1px solid paleturquoise;
  border-radius: 4px;
  position: relative;
  max-width: 90%;
  height: auto;
  overflow: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  padding: 10px;
}

.data-task button {
  width: 30%;
  border: 1px solid palegoldenrod;
  background-color: aliceblue;
  position: relative;
  bottom: 60px;
  left: 300px;
  margin-bottom: 10px;
  border: 1px solid slategray;
  padding: 4px;
  border-radius: 3px;
}

.data-task p {
  position: relative;
  top: 20px;
  left: 50px;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.course-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 900px;
  margin: 20px auto;
}

.course-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 50%;
  max-width: 500px;
  margin-top: 50px;
  background-color: papayawhip;
}
.course-form label {
  font-size: small;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.course-form input {
  padding: 10px;
  border: 1px solid skyblue;
  border-radius: 3px;
  font-size: medium;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.course-form button {
  width: 50%;
  padding: 8px;
  background-color: azure;
  border: 1px solid aliceblue;
  font-size: medium;
  cursor: pointer;
}

.course-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  width: 100%;
}

.course-container {
  padding: 15px;
  border: 2px solid seashell;
  border-radius: 3px;
  background-color: aliceblue;
}
